# Python
__pycache__/
*.py[oc]
*.egg-info
dist/
build/

# Virtual environment
.venv

# Environment
.env

# MLflow local tracking artifacts
mlflow.db
mlruns/

# Firebase
firebase-service-account.json

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
